[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
bumpversion = "*"
wheel = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
pytest = "*"
pytest-runner = "*"
PyInstaller = "*"
Sphinx = "*"
twine = "*"
black = ">=20.8b1"
isort = "*"
mypy = "*"
pytest-cov = "*"
bandit = "*"

[packages]
snmp_adapter = {editable = true, path = "."}
click = "*"
pysnmp = "*"
psycopg2 = "*"
sqlalchemy = "*"
yattag = "*"
